<div class="modal" id="spinner-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-body">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/ScriptsSistema/spinner.js"></script>