<div id="transfer-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3>Seleccione el dispositivo para transferir la llamada</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <select class="select">
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" id="modal-transfer-btn">Transfer</button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/plugins/bootstrap/bootstrap-select.js"></script>