
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum dolor sem, quis pharetra dui ultricies vel. Cras non pulvinar tellus, vel bibendum magna. Morbi tellus nulla, cursus non nisi sed, porttitor dignissim erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis commodo lectus. Vivamus vel tincidunt enim, non vulputate ipsum. Ut pellentesque consectetur arcu sit amet scelerisque. Fusce commodo leo eros, ut eleifend massa congue at.</p>

<div class="form-group">
    <label class="col-md-3 col-xs-12 control-label">First Name</label>
    <div class="col-md-6 col-xs-12">
        <input type="text" class="form-control" value="John" />
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 col-xs-12 control-label">Second Name</label>
    <div class="col-md-6 col-xs-12">
        <input type="text" class="form-control" value="Doe" />
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 col-xs-12 control-label">About</label>
    <div class="col-md-6 col-xs-12">
        <textarea class="form-control" rows="5">Morbi tellus nulla, cursus non nisi sed, porttitor dignissim erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis commodo lectus. Vivamus vel tincidunt enim, non vulputate ipsum. Ut pellentesque consectetur arcu sit amet scelerisque. Fusce commodo leo eros, ut eleifend massa congue at.</textarea>
        <span class="help-block">Somethink about your life</span>
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 col-xs-12 control-label">E-mail</label>
    <div class="col-md-6 col-xs-12">
        <label class="check"><input type="checkbox" class="icheckbox" checked="checked" /> I want to get emails</label>
        <span class="help-block">If you wish of course</span>
    </div>
</div>
