<div class="panel panel-default" id="table-queue-call-list">
    <div class="panel-heading">
        <ul class="panel-controls" style="margin-top: 2px;">
            <li>
                <a href="#" id="get-queue-call-list" class="panel-refresh">
                    <span class="fa fa-refresh">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>