<div id="modal-action-over-agent" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" style="margin-top: 1px;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3>Pulse la acción que desee realizar sobre el agente</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo" id="listener">
                            <i class="fa fa-check icono-grande"></i><br />
                            Listener
                        </button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo" id="whisper">
                            <i class="fa fa-comment icono-grande"></i><br />
                            Whisper
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>