
<div class="panel panel-default" id="table-agents-connected">
    <div class="panel-heading">
        <ul class="panel-controls" style="margin-top: 2px;">
            <li>
                <a href="#" id="get-agent-list" class="panel-refresh info" title="@Resources.Supervisor.Update">
                    <span class="fa fa-refresh">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>