<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@Resources.Agent.HoldCalls</h3>
        @*<ul class="panel-controls">
            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
        </ul>*@
    </div>
    <div class="panel-body list-group list-group-contacts" id="lista_espera">
    </div>
</div>
