
<p>Llamadas en wait</p>

<div class="panel panel-default">

    <div class="panel-body panel-body-table">

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-actions">
                <thead>
                    <tr>
                        <th width="50">UserName</th>
                        <th width="100">status</th>
                        <th width="100">phone_extension</th>
                        <th width="100">actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="trow_1">
                        <td class="text-center">3000</td>
                        <td><span class="label label-success">Ready</span></td>
                        <td><strong>8006</strong></td>
                        <td>
                            <button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>