
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-body" id="options">
         
                <div class="form-group">
                    <button class="btn btn-success form-control">
                        <i class="fa fa-check"></i>
                        Login Phone
                    </button>
                </div>

                <div class="form-group">
                    <button class="btn btn-success form-control">
                        <i class="fa fa-pause"></i>
                        Listen
                    </button>
                </div>

                <div class="form-group">
                    <button class="btn btn-success form-control">
                        <i class="fa icon-phone-call"></i>
                        Whisper
                    </button>
                </div>

                <div class="form-group">
                    <button class="btn btn-success form-control">
                        <i class="fa icon-phone_paused"></i>
                        Join
                    </button>
                </div>

                <div class="form-group">
                    <button class="btn btn-success form-control">
                        <i class="fa icon-phone_missed"></i>
                        Chat
                    </button>
                </div>

                <div class="form-group">
                    <button class="btn btn-success form-control">
                        <i class="fa icon-phone-forwarded"></i>
                        View
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>

