<div id="modal-Campaigns" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 400px;">
            <div class="modal-header">
                <button type="button" class="close" style="margin-top: 1px;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3>Seleccione una campaña para la llamada</h3>
            </div>

            <form id="formCampaign" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <select class="form-control" id="SelCampaigns" style="height:35px"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-offset-9">
                        <a href="#!" class="btn btn-success" id="BtnCampaignCall">@Resources.Agent.Call</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>