<div id="modal-PauseCodes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 360px;">
            <div class="modal-header">
                <h3>Seleccione un Pause Code</h3>
            </div>
            <form id="formPauseCodes" class="form-horizontal validar">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <select class="form-control" id="SelPauseCodes" style="height:35px" required></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-offset-9">
                        <input type="submit" value=@Resources.Agent.Pause class="btn btn-success" id="SendPauseCode" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
