@{
    ViewBag.Title = "Home Page";
}

@section css{
    <link href="~/assets/Icons/style.css" rel="stylesheet" />
    <style type="text/css">
        .icono-grande {
            font-size: 20px !important
        }
        .btn-redondo {
            border-radius: 7px;
            font-size: 14px;
            width: 100%;
            background-color: #3b5045;
        }
        #options .row {
            margin-bottom: 10px
        }
    </style>
}

<!-- PAGE TITLE
<div class="page-title">
    <h2><span class="fa fa-columns"></span> Agent Work Page</h2>
</div>
 END PAGE TITLE -->

<div class="row">
    <div class="col-md-4">
        
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="widget-main">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-bars"></i><br />
                            </span>

                            <input id="inputPhone" class="form-control" type="number" placeholder="Insert a phone number..."/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="padding: 0px">
                            <button id="doCallBtn" class="btn btn-success btn-lg btn-block btn-redondo" disabled="disabled">
                                Call
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body" id="options">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo" id="ReadyToWork">
                            <i class="fa fa-check icono-grande"></i><br/>
                            Ready
                        </button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo">
                            <i class="fa fa-pause icono-grande"></i><br/>
                            Pause
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button id="acceptCallRequest" class="btn btn-success btn-redondo" disabled="disabled">
                            <i class="fa icon-phone-call icono-grande"></i><br/>
                            Answer
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo">
                            <i class="fa icon-phone_paused icono-grande"></i><br />
                            Hold
                        </button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo">
                            <i class="fa icon-phone_missed icono-grande"></i><br/>
                            Transfer
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo">
                            <i class="fa fa-cloud-upload icono-grande"></i><br/>
                            Confer...
                        </button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo">
                            <i class="fa icon-phone3 icono-grande"></i><br/>
                            <span class="line-height-1 smaller-75"> End Conf... </span>
                        </button>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-redondo" id="hangoutCallRequest" disabled="disabled">
                            <i class="fa icon-call_end icono-grande"></i><br/>
                            Hang Up
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('#inputPhone').keyup(function () {
            if ($(this).val())
                $("#doCallBtn").removeAttr("disabled");
            else
                $("#doCallBtn").attr("disabled", "disabled");
        });
    </script>    
}